.settings-form {
    position: relative;
}

.settings-btn {
    position: absolute;
    right: 0;
    top: -5rem;
}
.swal-modal{width:500px !important;}
.submit-user {
    background: none;
    border: none;
    padding: 0.5rem 1.4rem;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.list-group-item {
    border: none;
    padding: 0.75rem 1rem;
    font-size: 14px;
}

.list-group-item i {
    font-size: 16px;
}

.submit-user .icon-log-out {
    margin-right: 0.75rem;
}

.submit-user:focus {
    outline: none;
}

.submit-user i {
    margin-right: 0.75rem;
}

.submit-user:hover {
    background-color: #0073aa;
    color: white;
}

button.delete-User,
button.logout-User,
button.delete-User:focus,
button.logout-User:focus,
button.logout-User:active,
button.delete-User:active {
    border: none;
    background: none;
    outline: none;
}

.border-dashed {
    border-style: dashed !important;
}

.border-dashed {
    border-style: dashed !important;
}

.delete-existing-image,
.delete-new-upload {
    position: absolute;
    top: -16px;
    right: -8px;
    background-color: #0db1ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
}

.staff-services {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 6px;
}

.staff-services .badge-service {
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.85rem;
}