.calendar-wrap {
    /* width: 65%; */
    background: #fff;
    padding: 40px 20px 20px 20px;
}
table#calendar {
    max-width: 360px;
    border-spacing: 5px !important;
    border-collapse: initial;
    margin: 0 auto;
}

#calendar {
    width: 100%;
}

#calendar thead tr {
    color: #000;
    font-weight: 700;
}

#calendar tr {
    height: 3em;
}

#calendar tbody tr {
    color: #000;
}

#calendar tbody td {
    width: 14%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 0;
}

#calendar tbody td:after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 44px;
    height: 44px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}